.deck-card{
    display:flex;
    border: 2px solid black;
    border-radius: 15px;
    justify-content:center;
    width: 90%;
}
.deck-poster{
    display:flex;
    margin:1rem;
    gap: 2%;
}

.add-deck-btn{
    border-radius:50%;
}
.deck-info{
    display:flex;
    gap:5%;
    align-items:center;
    padding: 1rem;
}

.deck-elem{
    font-size: 1.2rem;
}

.deck-img{

}
