.Login-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.submit-form {
  display: flex;
  flex-direction: column;
}

.submit-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.submit-form input {
  padding: 0.5rem 0.75rem;
  margin-bottom: 1.25rem;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  font-size: 1.5rem;
  height: 4rem;
  border-radius: 16px;
  transition: border-color 0.3s ease;
}

.submit-form input:focus {
  border-color: #5563DE;
  outline: none;
  box-shadow: 0 0 4px rgba(85, 99, 222, 0.5);
}

.submit-form button {
  margin-top: 0.75rem;
  padding: 1rem;
  background-color: #0070f3;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.submit-form button:hover {
  background-color: #3f4ec2;
}

