/* RegisterForm.css */

.register-form {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-form form {
  display: flex;
  flex-direction: column;
}

.register-form label {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.register-form input {
  padding: 0.5rem 0.75rem;
  margin-bottom: 1.25rem;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  font-size: 1.5rem;
  height: 4rem;
  border-radius: 16px;
  transition: border-color 0.3s ease;
}

.register-form input:focus {
  outline: none;
  padding:1rem;
  border-color: #0070f3;
  box-shadow: 0 0 3px #0070f3;
}

.register-form button {
  padding: 0.75rem;
  background-color: #0070f3;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.register-form button:hover {
  background-color: #005bb5;
}

